section.http-error {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  opacity: 0;
  animation: opacity;
  animation-duration: 3s;
  animation-fill-mode: backwards;
  transition: opacity 3s ease-in-out;
}
@media (min-width:1201px){
  section.http-error {
    background-image: url(../../assets/img/bg-2-full.jpg?v=0.1);
  }
}
@media (max-width:500px) {
  section.http-error {
    background-image: url(../../assets/img/bg-2-600w.jpg?v=0.1);
  }
}
@media (max-width:800px) and (min-width:501px){
  section.http-error {
    background-image: url(../../assets/img/bg-2-900w.jpg?v=0.1);
  }
}
@media (max-width:1200px) and (min-width:801px){
  section.http-error {
    background-image: url(../../assets/img/bg-2-1200w.jpg?v=0.1);
  }
}
@media all and (orientation:portrait) and (max-width:500px) {
  section.http-error {
    background-image: url(../../assets/img/bg-portrait-2.jpg?v=0.1);
  }
}
section.http-error h1 {
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  font-weight: 700;
}
